.tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2colm*/
    gap: 10px;
    padding: 40px 20px;
    justify-items: center;
}

@media (max-width: 768px) {
    .tips {
        grid-template-columns: 1fr; /*1colm*/
    }
}