.favoritos {
  padding: 2rem;
}

.favoritos__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}


.favoritos__item {
  width: 250px;
}


.favoritos__no-favs-msg {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  color: var(--link-color);
}
