.card-tip {
    width: 100%;
    max-width: 500px;
    min-height: 320px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.card-tip__img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    
}

.card-tip__titulo {
    color: #87bdd8;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 20px 20px;
    text-align: center;
    text-shadow: 0 0 1px #ccc;
}

.card-tip__texto {
    color: #222;
    font-size: 0.95rem;
    text-align: left;
    white-space: pre-line; 
}