
.language-switcher-button {
  padding: 8px 15px;
  width: fit-content;
  border: 1px solid var(--text-color); 
  border-radius: 20px; 
  background-color: transparent; 
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  font-size: 1em; 
  color: var(--text-color); 
  font-weight: bold; 
  white-space: nowrap; 
}

.language-switcher-button:hover {
  background-color: var(--link-color); 
  color: var(--bg-color); 
  border-color: var(--link-color);
}

.language-switcher-button:active {
  transform: translateY(1px); 
}


@media (max-width: 768px) {
  .language-switcher-button {
    padding: 6px 12px; 
    font-size: 0.9em;
  }
}