.header {
  background-color: var(--nav-bg);
  color: #0e1f35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: nowrap;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;

}

.header__logo-img {
  height: 70px;
   display: block;
  object-fit: contain;
}

.header__brand {
  font-size: 18px;
  font-weight: bold;
  color: #0e1f35;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  gap: 20px;

}

.header__nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header__nav-link {
  padding: 8px 16px;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.header__nav-link-fav {


}


.header__nav-link--icon {
  display: flex;
  align-items: center;
  padding: 4px;
}

.header__icon-heart {
  width: 26px;
  height: 26px;
  transition: transform 0.2s ease;
  cursor: pointer;
  margin-left: 0.4rem;
}

.header__icon-heart:hover {
  transform: scale(1.15);
}

.header__nav-link:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

.header__donar-btn {
  background-color: #f87171;
  color: #0e1f35;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2 ease-in-out;
  text-decoration: none;
}

.header__donar-btn:hover {
  background-color: #ef4444;
  transform: scale(1.05);
}

.header__burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__burger-line {
  width: 25px;
  height: 3px;
  background-color: #0e1f35;
  border-radius: 2px;
}


.header__toggle-container {
  display: flex;
  align-items: center;
  gap: 5px;
}


@media (min-width: 769px) {
  .header__toggle-container {
    margin-left: auto;
  }
}


@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
  .header__burger {
    display: flex;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
  }
  
  .header__nav-link-fav {
    margin-left: 0.6rem;
  }

  .header__nav--open {
    display: flex;
  }

  .header__nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .header__toggle-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .header__donar-btn {
    margin: 5px 0;
    width: fit-content;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f87171;
    color: #0e1f35;
    border: none;
    margin-left: 14px;
  }

  .header__donar-btn:hover {
    background-color: #ef4444;
  }

  .header__toggle-container {
    margin-left: 0;
    width: 100%;
    justify-content: start;
    gap: 0;
  }
}
