html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/*Estilos para selector de idioma*/
.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  z-index: 100; 
  font-size: 0.95em; /* Fuente ligeramente más pequeña */
  color: var(--text-color);  
}

.language-selector__label {
  font-weight: bold;
  margin-right: 5px;
  display: none; 
}

.language-selector__button {
  padding: 6px 12px;
  border: 1px solid var(--text-color); 
  border-radius: 20px;
  background-color: transparent; 
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  font-size: 1em;
  color: var(--text-color); 
}

.language-selector__button:hover {
  background-color: var(--link-color); 
  color: var(--bg-color); 
  border-color: var(--link-color);
}

.language-selector__button--active {
  background-color: var(--button-bg); 
  color: var(--button-text); 
  border-color: var(--button-bg);
  font-weight: bold;
}

.language-selector__button--active:hover {
  background-color: var(--button-bg); 
  border-color: var(--button-bg);
}

@media (max-width: 768px) {
      .language-selector {
        position: relative; 
        top: auto;
        right: auto;
        margin: 20px auto; 
        padding: 10px 15px;
        width: fit-content;
        gap: 15px;
      }
      .language-selector__label {
        display: inline-block; 
      }
      .language-selector__button {
        padding: 8px 15px;
      }
    }

    
  