
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: system-ui, sans-serif;
background-color: #e0f2fe;
line-height: 1.5;
}



body.light {
  --bg-color:  #e0f2fe;
  --text-color: #1a1a1a;
  --nav-bg: #b3d7e5;
  --link-color: #0e1f35;
  --button-bg: #f87171;
  --button-text: #fff;
  --container-bg: #f9fafb;
}


body.dark {
  --bg-color: #1a2634;
  --text-color: #e0e0e0;
  --nav-bg: #243447;
  --link-color: #f0f4f8;
  --button-bg: #bb86fc;
  --button-text: #000;
  --container-bg: #2d3a4f;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
