.cat-card {
  background-color: var(--container-bg);
  border: 1px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  justify-content: center;
  width: 250px;
  flex: 0 0 250px;
}

.cat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.cat-card__heart-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.cat-card__heart {
  width: 50px;
  height: 40px;
  transition: transform 0.3s ease;
}

.cat-card__heart--animate {
  animation: heart-pop 0.3s ease;
}

@keyframes heart-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.cat-card__image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cat-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-bottom: 1px;
}

.cat-card__info {
  padding: 12px;
 

}

.cat-card__name {
  margin: 12px 0 4px;
  font-size: 20px;
  color: var(--link-color);
}

.cat-card__breed {
  margin: 0 0 12px;
  font-size: 16px;
  color: var(--link-color);
}

.cat-card__button {
  background-color: #0E1F35;
  width: fit-content;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cat-card__button:hover {
  background-color: #1d3557;
  transform: translateY(-2px);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cat-card__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cat-card__modal {
  background-color: var(--container-bg);
  padding: 2rem;
  color: var(--link-color);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.cat-card__modal-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cat-card__modal-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cat-card__modal-buttons button:first-child {
  background-color: #e5e7eb;
  color: #111827;
}

.cat-card__modal-buttons button:last-child {
  background-color: #0E1F35;
  color: #f0f4f8 ;
}

